@font-face {
    font-family: 'Inter';
    src: url("/assets/fonts/static/Inter-Regular.ttf") format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Inter';
    src: url("/assets/fonts/static/Inter-Bold.ttf") format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: 'Inter';
    src: url("/assets/fonts/static/Inter-ExtraBold.ttf") format('truetype');
    font-weight: 800;
}



header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 28px;
    padding-bottom: 32px;
}
header .fullscreen-nav {
    display: none;
}
#mobile-nav .menu-icon {
    z-index: 2;
}
header .mobile-nav {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    width: 0;
    min-height: 100vh;
    background-color: #FFFDFA;
    transition: 0.4s ease-in;
    z-index: 98;
}
.mobile-nav.is-open {
    width: 256px;
}
.overlay {
    position: fixed;
    /* display: none; */
    width: 0;
    height: 0;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 97;
}
.overlay.is-open{
    width: 100%;
    height: 100%;
}

.mobile-nav #menu-close-icon {
    position: inherit;
    top: 27px;
    right: 20px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.4s ease-in;
}
#menu-close-icon.is-open {
    opacity: 1;
}
.mobile-nav ul {
    margin: 0;
    padding-top: 144px;
    padding-right: 29px;
    padding-left: 24px;
}
.mobile-nav ul > li {
    list-style-type: none;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 24px;
}
.mobile-nav ul >li:not(:last-child) {
    margin-bottom: 24px;
}
.open {
    transition: display 250ms ease-in;
}
/* ----------------------------------- */
main {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 80px;
}
main > section:not(:last-child) {
    margin-bottom: 64px;
}
/* ------------------------------- */
.headline-article h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: clamp(2.5rem, 2.1479rem + 1.5023vw, 3.5rem);
    line-height: clamp(2.5rem, 1.502vw + 2.148rem, 3.5rem);
    margin-top: 24px;
    margin-bottom: 16px;
}
.headline-article p {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    color: #5E607A;
    margin-bottom: 24px;
}
.headline-article a {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 4.38px;
    text-decoration: none;
    text-transform: uppercase;
    color: #00001A;
    background-color: #F15D51;
    padding: 16px 35px;
}
.headline-article a:hover {
    cursor: pointer;
    background-color: #00001A;
    color: #FFFDFA;
}
/* ------------------------------------- */
.new-stories {
    background-color: #00001A;
    padding: 24px 20px;
    position: relative;
}
.new-stories .story:not(:last-child) {
    margin-bottom: 60px;
}
.new-stories .story:not(:last-child)::after {
    position: absolute;
    content: "";
    width: 302px;
    height: 1px;
    background: #5E607A;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 30px;
}
.new-stories h2 {
    font-family: 'Inter', sans-serif;
    color: #E9AA52;
    margin-bottom: 35px;
}
.new-stories .story h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    color: #FFFDFA;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 8px;
}
.new-stories .story h3:hover {
    cursor: pointer;
    color: #E9AA52;
}
.new-stories .story p {
    font-family: 'Inter', sans-serif;
    color: #C5C6CE;
    font-size: 15px;
    line-height: 26px;
}
/* ------------------------------------- */
.top-story:not(:last-child) {
    margin-bottom: 32px;
}
.top-story {
    display: grid;
    grid-template-columns: 100px 219px;
    grid-template-rows: 129px;
    grid-column-gap: 24px;
}
.top-story div > span {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #F15D51;
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 12px;    
}
.top-story div > h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    color: #00001A;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 9px;
}
.top-story div > h3:hover {
    cursor: pointer;
    color: #F15D51;
}
.top-story div > p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #5E607A;
    font-size: 15px;
    line-height: 26px;
}
.top-story img {
    grid-area: 1 / 1 / 3 / 2;
}
.top-story div {
    grid-area: 1 / 2 / 3 / 3;
}
@media screen and (min-width: 1024px) {
    body {
        padding: 44.5px 82.5px 64.5px 82.5px;
    }
    header .fullscreen-nav {
        display: flex;
    }
    header .menu-icon {
        display: none;
    }
    .fullscreen-nav ul {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .fullscreen-nav ul > li {
        list-style-type: none;
        font-family: 'Inter', sans-serif;
        font-size: 15px;
        line-height: 26px;
        font-weight: 400;
        color: #5E607A;
    }
    .fullscreen-nav ul > li:hover {
        cursor: pointer;
        color: #F15D51;
    }
    .fullscreen-nav ul > li:not(:first-child) {
        margin-left: 40px;
    }
    main .top-stories {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }
}
@media screen and (min-width: 1280px) {
    main > section:not(:last-child) {
        margin-bottom: 0;
    }
    main {
        display: grid;
        grid-template-columns: 327px 1fr 333px 0px 349px;
        grid-template-rows: 300px 65px 209px 34px 126px;
        /* grid-template-columns: repeat(auto-fill, minmax(327px, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(34px, 1fr)); */
        column-gap: 30px;
        /* row-gap: 34px; */
    }
    main .headline-article {
        grid-area: 1 / 1 / 4 / 4;
        display: grid;
        grid-template-columns: subgrid;
        grid-template-rows: subgrid;
    }
    .headline-article picture {
        grid-area: 1 / 1 / 2 / 4;
        max-width: 100%;
    }
    .headline-article h1 {
        /* grid-area: 3 / 1 / 4 / 2; */
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        margin-top: 28px;
        margin-bottom: 0;
        /* align-self: end; */
    }
    .headline-article div{
        /* align-self: end; */
        grid-area: 3 / 3 / 4 / 4;
        margin-top: 30px;
    }
    main .new-stories {
        grid-area: 1 / 5 / 4 / 6;
    }
    main .top-stories {
        display: flex;
        justify-content: space-between;
        grid-area: 5 / 1 / 6 / 6;
    }
}
@media screen and (min-width: 1440px) {
    body {
        padding: 89px 165px 129px 165px;
    }
}